.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

#name {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.des {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    color: #5a6169;
    font-size: 20px;
    width: 40%;
    margin-left: 10rem;
    text-align: justify;
}

.can {
    /* float: right; */
    width: 50%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 30%
}