

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#nav{
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: black;
}

.inline-block {
  display: inline-block;
  margin: 3px;
  padding: 3px;
}

/* .icons a:link{
  display: inline-block;
  margin: 20px;
  margin-top: 25px;
} */

