@import './App.css';
@import './blog.css';
/* @import './construction.css'; */



/* .icons a:link{
  display: inline-block;
  margin: 20px;
  margin-top: 25px;
}
next to ea other */





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
